<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sugar.manage.dao.mapper.TSugarProjectMapper">
  <resultMap id="BaseResultMap" type="com.sugar.manage.dao.model.TSugarProject">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="platform_name" jdbcType="VARCHAR" property="platformName" />
    <result column="demand_review" jdbcType="VARCHAR" property="demandReview" />
    <result column="demand_confirm" jdbcType="VARCHAR" property="demandConfirm" />
    <result column="demand_check" jdbcType="VARCHAR" property="demandCheck" />
    <result column="environment_deployment" jdbcType="VARCHAR" property="environmentDeployment" />
    <result column="develop_progress_10" jdbcType="VARCHAR" property="developProgress10" />
    <result column="develop_progress_25" jdbcType="VARCHAR" property="developProgress25" />
    <result column="develop_progress_50" jdbcType="VARCHAR" property="developProgress50" />
    <result column="develop_progress_75" jdbcType="VARCHAR" property="developProgress75" />
    <result column="develop_progress_100" jdbcType="VARCHAR" property="developProgress100" />
    <result column="implement_deliver" jdbcType="VARCHAR" property="implementDeliver" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="CREATED_STAFF" jdbcType="VARCHAR" property="createdStaff" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_STAFF" jdbcType="VARCHAR" property="updatedStaff" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sugar.manage.dao.model.TSugarProjectWithBLOBs">
    <result column="technology_selection" jdbcType="LONGVARCHAR" property="technologySelection" />
    <result column="framework_design" jdbcType="LONGVARCHAR" property="frameworkDesign" />
    <result column="inside_test" jdbcType="LONGVARCHAR" property="insideTest" />
    <result column="customer_test" jdbcType="LONGVARCHAR" property="customerTest" />
    <result column="check_deliver" jdbcType="LONGVARCHAR" property="checkDeliver" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, product_type, platform_name, demand_review, demand_confirm, demand_check, environment_deployment,
    develop_progress_10, develop_progress_25, develop_progress_50, develop_progress_75,
    develop_progress_100, implement_deliver, status, CREATED_STAFF, CREATED_TIME, UPDATED_STAFF,
    UPDATED_TIME
  </sql>
  <sql id="Blob_Column_List">
    technology_selection, framework_design, inside_test, customer_test, check_deliver
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.sugar.manage.dao.model.TSugarProjectExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_sugar_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByExample" parameterType="com.sugar.manage.dao.model.TSugarProjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sugar_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_sugar_project
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sugar_project
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sugar.manage.dao.model.TSugarProjectExample">
    delete from t_sugar_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insertType" parameterType="com.sugar.manage.dao.model.TSugarProject">
    insert into t_sugar_project (ID, product_type, platform_name)
    values (#{id,jdbcType=INTEGER}, #{productType,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR}
     )
  </insert>

  <insert id="insert" parameterType="com.sugar.manage.dao.model.TSugarProjectWithBLOBs">
    insert into t_sugar_project (ID, product_type, platform_name,
      demand_review, demand_confirm, demand_check,
      environment_deployment, develop_progress_10,
      develop_progress_25, develop_progress_50, develop_progress_75,
      develop_progress_100, implement_deliver, status,
      CREATED_STAFF, CREATED_TIME, UPDATED_STAFF,
      UPDATED_TIME, technology_selection,
      framework_design, inside_test, customer_test,
      check_deliver)
    values (#{id,jdbcType=INTEGER}, #{productType,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR},
      #{demandReview,jdbcType=VARCHAR}, #{demandConfirm,jdbcType=VARCHAR}, #{demandCheck,jdbcType=VARCHAR},
      #{environmentDeployment,jdbcType=VARCHAR}, #{developProgress10,jdbcType=VARCHAR},
      #{developProgress25,jdbcType=VARCHAR}, #{developProgress50,jdbcType=VARCHAR}, #{developProgress75,jdbcType=VARCHAR},
      #{developProgress100,jdbcType=VARCHAR}, #{implementDeliver,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{createdStaff,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedStaff,jdbcType=VARCHAR},
      #{updatedTime,jdbcType=TIMESTAMP}, #{technologySelection,jdbcType=LONGVARCHAR},
      #{frameworkDesign,jdbcType=LONGVARCHAR}, #{insideTest,jdbcType=LONGVARCHAR}, #{customerTest,jdbcType=LONGVARCHAR},
      #{checkDeliver,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sugar.manage.dao.model.TSugarProjectWithBLOBs">
    insert into t_sugar_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="platformName != null">
        platform_name,
      </if>
      <if test="demandReview != null">
        demand_review,
      </if>
      <if test="demandConfirm != null">
        demand_confirm,
      </if>
      <if test="demandCheck != null">
        demand_check,
      </if>
      <if test="environmentDeployment != null">
        environment_deployment,
      </if>
      <if test="developProgress10 != null">
        develop_progress_10,
      </if>
      <if test="developProgress25 != null">
        develop_progress_25,
      </if>
      <if test="developProgress50 != null">
        develop_progress_50,
      </if>
      <if test="developProgress75 != null">
        develop_progress_75,
      </if>
      <if test="developProgress100 != null">
        develop_progress_100,
      </if>
      <if test="implementDeliver != null">
        implement_deliver,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdStaff != null">
        CREATED_STAFF,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedStaff != null">
        UPDATED_STAFF,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
      <if test="technologySelection != null">
        technology_selection,
      </if>
      <if test="frameworkDesign != null">
        framework_design,
      </if>
      <if test="insideTest != null">
        inside_test,
      </if>
      <if test="customerTest != null">
        customer_test,
      </if>
      <if test="checkDeliver != null">
        check_deliver,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null">
        #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="demandReview != null">
        #{demandReview,jdbcType=VARCHAR},
      </if>
      <if test="demandConfirm != null">
        #{demandConfirm,jdbcType=VARCHAR},
      </if>
      <if test="demandCheck != null">
        #{demandCheck,jdbcType=VARCHAR},
      </if>
      <if test="environmentDeployment != null">
        #{environmentDeployment,jdbcType=VARCHAR},
      </if>
      <if test="developProgress10 != null">
        #{developProgress10,jdbcType=VARCHAR},
      </if>
      <if test="developProgress25 != null">
        #{developProgress25,jdbcType=VARCHAR},
      </if>
      <if test="developProgress50 != null">
        #{developProgress50,jdbcType=VARCHAR},
      </if>
      <if test="developProgress75 != null">
        #{developProgress75,jdbcType=VARCHAR},
      </if>
      <if test="developProgress100 != null">
        #{developProgress100,jdbcType=VARCHAR},
      </if>
      <if test="implementDeliver != null">
        #{implementDeliver,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdStaff != null">
        #{createdStaff,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedStaff != null">
        #{updatedStaff,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="technologySelection != null">
        #{technologySelection,jdbcType=LONGVARCHAR},
      </if>
      <if test="frameworkDesign != null">
        #{frameworkDesign,jdbcType=LONGVARCHAR},
      </if>
      <if test="insideTest != null">
        #{insideTest,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerTest != null">
        #{customerTest,jdbcType=LONGVARCHAR},
      </if>
      <if test="checkDeliver != null">
        #{checkDeliver,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sugar.manage.dao.model.TSugarProjectExample" resultType="java.lang.Long">
    select count(*) from t_sugar_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateSugarProject" parameterType="com.sugar.manage.dao.model.TSugarProject">
    update t_sugar_project
    <set>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null">
        platform_name = #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="demandReview != null">
        demand_review = #{demandReview,jdbcType=VARCHAR},
      </if>
      <if test="demandConfirm != null">
        demand_confirm = #{demandConfirm,jdbcType=VARCHAR},
      </if>
      <if test="demandCheck != null">
        demand_check = #{demandCheck,jdbcType=VARCHAR},
      </if>
      <if test="environmentDeployment != null">
        environment_deployment = #{environmentDeployment,jdbcType=VARCHAR},
      </if>
      <if test="developProgress10 != null">
        develop_progress_10 = #{developProgress10,jdbcType=VARCHAR},
      </if>
      <if test="developProgress25 != null">
        develop_progress_25 = #{developProgress25,jdbcType=VARCHAR},
      </if>
      <if test="developProgress50 != null">
        develop_progress_50 = #{developProgress50,jdbcType=VARCHAR},
      </if>
      <if test="developProgress75 != null">
        develop_progress_75 = #{developProgress75,jdbcType=VARCHAR},
      </if>
      <if test="developProgress100 != null">
        develop_progress_100 = #{developProgress100,jdbcType=VARCHAR},
      </if>
      <if test="implementDeliver != null">
        implement_deliver = #{implementDeliver,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdStaff != null">
        CREATED_STAFF = #{createdStaff,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedStaff != null">
        UPDATED_STAFF = #{updatedStaff,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="technologySelection != null">
        technology_selection = #{technologySelection,jdbcType=LONGVARCHAR},
      </if>
      <if test="frameworkDesign != null">
        framework_design = #{frameworkDesign,jdbcType=LONGVARCHAR},
      </if>
      <if test="insideTest != null">
        inside_test = #{insideTest,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerTest != null">
        customer_test = #{customerTest,jdbcType=LONGVARCHAR},
      </if>
      <if test="checkDeliver != null">
        check_deliver = #{checkDeliver,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sugar_project
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productType != null">
        product_type = #{record.productType,jdbcType=VARCHAR},
      </if>
      <if test="record.platformName != null">
        platform_name = #{record.platformName,jdbcType=VARCHAR},
      </if>
      <if test="record.demandReview != null">
        demand_review = #{record.demandReview,jdbcType=VARCHAR},
      </if>
      <if test="record.demandConfirm != null">
        demand_confirm = #{record.demandConfirm,jdbcType=VARCHAR},
      </if>
      <if test="record.demandCheck != null">
        demand_check = #{record.demandCheck,jdbcType=VARCHAR},
      </if>
      <if test="record.environmentDeployment != null">
        environment_deployment = #{record.environmentDeployment,jdbcType=VARCHAR},
      </if>
      <if test="record.developProgress10 != null">
        develop_progress_10 = #{record.developProgress10,jdbcType=VARCHAR},
      </if>
      <if test="record.developProgress25 != null">
        develop_progress_25 = #{record.developProgress25,jdbcType=VARCHAR},
      </if>
      <if test="record.developProgress50 != null">
        develop_progress_50 = #{record.developProgress50,jdbcType=VARCHAR},
      </if>
      <if test="record.developProgress75 != null">
        develop_progress_75 = #{record.developProgress75,jdbcType=VARCHAR},
      </if>
      <if test="record.developProgress100 != null">
        develop_progress_100 = #{record.developProgress100,jdbcType=VARCHAR},
      </if>
      <if test="record.implementDeliver != null">
        implement_deliver = #{record.implementDeliver,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createdStaff != null">
        CREATED_STAFF = #{record.createdStaff,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedStaff != null">
        UPDATED_STAFF = #{record.updatedStaff,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedTime != null">
        UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.technologySelection != null">
        technology_selection = #{record.technologySelection,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.frameworkDesign != null">
        framework_design = #{record.frameworkDesign,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.insideTest != null">
        inside_test = #{record.insideTest,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.customerTest != null">
        customer_test = #{record.customerTest,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.checkDeliver != null">
        check_deliver = #{record.checkDeliver,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_sugar_project
    set ID = #{record.id,jdbcType=INTEGER},
    product_type = #{record.productType,jdbcType=VARCHAR},
    platform_name = #{record.platformName,jdbcType=VARCHAR},
    demand_review = #{record.demandReview,jdbcType=VARCHAR},
    demand_confirm = #{record.demandConfirm,jdbcType=VARCHAR},
    demand_check = #{record.demandCheck,jdbcType=VARCHAR},
    environment_deployment = #{record.environmentDeployment,jdbcType=VARCHAR},
    develop_progress_10 = #{record.developProgress10,jdbcType=VARCHAR},
    develop_progress_25 = #{record.developProgress25,jdbcType=VARCHAR},
    develop_progress_50 = #{record.developProgress50,jdbcType=VARCHAR},
    develop_progress_75 = #{record.developProgress75,jdbcType=VARCHAR},
    develop_progress_100 = #{record.developProgress100,jdbcType=VARCHAR},
    implement_deliver = #{record.implementDeliver,jdbcType=VARCHAR},
    status = #{record.status,jdbcType=VARCHAR},
    CREATED_STAFF = #{record.createdStaff,jdbcType=VARCHAR},
    CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
    UPDATED_STAFF = #{record.updatedStaff,jdbcType=VARCHAR},
    UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP},
    technology_selection = #{record.technologySelection,jdbcType=LONGVARCHAR},
    framework_design = #{record.frameworkDesign,jdbcType=LONGVARCHAR},
    inside_test = #{record.insideTest,jdbcType=LONGVARCHAR},
    customer_test = #{record.customerTest,jdbcType=LONGVARCHAR},
    check_deliver = #{record.checkDeliver,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sugar_project
    set ID = #{record.id,jdbcType=INTEGER},
    product_type = #{record.productType,jdbcType=VARCHAR},
    platform_name = #{record.platformName,jdbcType=VARCHAR},
    demand_review = #{record.demandReview,jdbcType=VARCHAR},
    demand_confirm = #{record.demandConfirm,jdbcType=VARCHAR},
    demand_check = #{record.demandCheck,jdbcType=VARCHAR},
    environment_deployment = #{record.environmentDeployment,jdbcType=VARCHAR},
    develop_progress_10 = #{record.developProgress10,jdbcType=VARCHAR},
    develop_progress_25 = #{record.developProgress25,jdbcType=VARCHAR},
    develop_progress_50 = #{record.developProgress50,jdbcType=VARCHAR},
    develop_progress_75 = #{record.developProgress75,jdbcType=VARCHAR},
    develop_progress_100 = #{record.developProgress100,jdbcType=VARCHAR},
    implement_deliver = #{record.implementDeliver,jdbcType=VARCHAR},
    status = #{record.status,jdbcType=VARCHAR},
    CREATED_STAFF = #{record.createdStaff,jdbcType=VARCHAR},
    CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
    UPDATED_STAFF = #{record.updatedStaff,jdbcType=VARCHAR},
    UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sugar.manage.dao.model.TSugarProjectWithBLOBs">
    update t_sugar_project
    <set>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null">
        platform_name = #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="demandReview != null">
        demand_review = #{demandReview,jdbcType=VARCHAR},
      </if>
      <if test="demandConfirm != null">
        demand_confirm = #{demandConfirm,jdbcType=VARCHAR},
      </if>
      <if test="demandCheck != null">
        demand_check = #{demandCheck,jdbcType=VARCHAR},
      </if>
      <if test="environmentDeployment != null">
        environment_deployment = #{environmentDeployment,jdbcType=VARCHAR},
      </if>
      <if test="developProgress10 != null">
        develop_progress_10 = #{developProgress10,jdbcType=VARCHAR},
      </if>
      <if test="developProgress25 != null">
        develop_progress_25 = #{developProgress25,jdbcType=VARCHAR},
      </if>
      <if test="developProgress50 != null">
        develop_progress_50 = #{developProgress50,jdbcType=VARCHAR},
      </if>
      <if test="developProgress75 != null">
        develop_progress_75 = #{developProgress75,jdbcType=VARCHAR},
      </if>
      <if test="developProgress100 != null">
        develop_progress_100 = #{developProgress100,jdbcType=VARCHAR},
      </if>
      <if test="implementDeliver != null">
        implement_deliver = #{implementDeliver,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdStaff != null">
        CREATED_STAFF = #{createdStaff,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedStaff != null">
        UPDATED_STAFF = #{updatedStaff,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="technologySelection != null">
        technology_selection = #{technologySelection,jdbcType=LONGVARCHAR},
      </if>
      <if test="frameworkDesign != null">
        framework_design = #{frameworkDesign,jdbcType=LONGVARCHAR},
      </if>
      <if test="insideTest != null">
        inside_test = #{insideTest,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerTest != null">
        customer_test = #{customerTest,jdbcType=LONGVARCHAR},
      </if>
      <if test="checkDeliver != null">
        check_deliver = #{checkDeliver,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sugar.manage.dao.model.TSugarProjectWithBLOBs">
    update t_sugar_project
    set product_type = #{productType,jdbcType=VARCHAR},
      platform_name = #{platformName,jdbcType=VARCHAR},
      demand_review = #{demandReview,jdbcType=VARCHAR},
      demand_confirm = #{demandConfirm,jdbcType=VARCHAR},
      demand_check = #{demandCheck,jdbcType=VARCHAR},
      environment_deployment = #{environmentDeployment,jdbcType=VARCHAR},
      develop_progress_10 = #{developProgress10,jdbcType=VARCHAR},
      develop_progress_25 = #{developProgress25,jdbcType=VARCHAR},
      develop_progress_50 = #{developProgress50,jdbcType=VARCHAR},
      develop_progress_75 = #{developProgress75,jdbcType=VARCHAR},
      develop_progress_100 = #{developProgress100,jdbcType=VARCHAR},
      implement_deliver = #{implementDeliver,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      CREATED_STAFF = #{createdStaff,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_STAFF = #{updatedStaff,jdbcType=VARCHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      technology_selection = #{technologySelection,jdbcType=LONGVARCHAR},
      framework_design = #{frameworkDesign,jdbcType=LONGVARCHAR},
      inside_test = #{insideTest,jdbcType=LONGVARCHAR},
      customer_test = #{customerTest,jdbcType=LONGVARCHAR},
      check_deliver = #{checkDeliver,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sugar.manage.dao.model.TSugarProject">
    update t_sugar_project
    set product_type = #{productType,jdbcType=VARCHAR},
      platform_name = #{platformName,jdbcType=VARCHAR},
      demand_review = #{demandReview,jdbcType=VARCHAR},
      demand_confirm = #{demandConfirm,jdbcType=VARCHAR},
      demand_check = #{demandCheck,jdbcType=VARCHAR},
      environment_deployment = #{environmentDeployment,jdbcType=VARCHAR},
      develop_progress_10 = #{developProgress10,jdbcType=VARCHAR},
      develop_progress_25 = #{developProgress25,jdbcType=VARCHAR},
      develop_progress_50 = #{developProgress50,jdbcType=VARCHAR},
      develop_progress_75 = #{developProgress75,jdbcType=VARCHAR},
      develop_progress_100 = #{developProgress100,jdbcType=VARCHAR},
      implement_deliver = #{implementDeliver,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      CREATED_STAFF = #{createdStaff,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_STAFF = #{updatedStaff,jdbcType=VARCHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>